@model Bt2_aspnetcoreMVC2.Models.Diem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Diem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiemLT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemLT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiemTH)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemTH)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiemBT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiemBT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MonHocs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MonHocs.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SinhViens)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SinhViens.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
