@model Nhom2ki3.Models.NhaMay

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NhaMay</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenNhaMay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenNhaMay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
